@media screen and (max-width: 600px) {
	
	#bodyWrap{
		font-size: .85em;
	}
	
	.tagline {
		font-size: 1em;
		color:black;
	}
	
	.form_submit {
		width: 100%;
	}
	
	.col-25 {
		width: 65%;
		margin-top: 0px;
		padding-left: 3px;
		}
	
	.col-75 {
		width: 98%;
		margin-top: 0px;
		padding: 0px 0px 0px 4px;
	}
	
	input[type=submit] {
		width: 100%;
		margin-top: 20px;
	}
/*
	.dropdown-content {
		display: 			none;
		position: 			absolute;
		padding: 			5px;
		background-color: #000000;
		border: 2px solid #000000;
		border-bottom: 6px solid #777777;
		left: 99%;
		transform: translateX(-99%);
		width: 				270px;
		z-index: 			1;
		height: 250px;
		overflow-y: hidden;
		overflow-x: hidden;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.input_txt {
		width: 400px;
	}

	.dropdown-list {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 200px;
		z-index: 			1;
	}

	.dropdown-list a{
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 			1;
		font-size: 0.7em;
	}
	
	.form_submit {
		width: 100%;
	}
	
	.col-25 {
		width: 65%;
		margin-top: 0px;
		padding-left: 3px;
		}
	
	.col-75 {
		width: 98%;
		margin-top: 0px;
		padding: 0px 0px 0px 4px;
	}
	
	input[type=submit] {
		width: 100%;
		margin-top: 20px;
	}
	
	.settingsbar {
		float:left;
		position:absolute;
		background:	rgb(30, 65, 95);
		padding:3px;
		color:white;
		font-size:1em;
		width:150px;
		left: 10px;
		margin: 0 auto;
		box-shadow: 3px 3px 6px #888888;
		text-align:center;
		border-radius: 5px;
	}
	
	input[type=text], select, textarea{
	  width: 100%;
	  padding: 8px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  resize: vertical;
	}

	input.searchbox[type=text]{
	  width: 92%;
	  padding: 5px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  resize: vertical;
	}

	label {
	  padding: 8px 8px 8px 0;
	  display: inline-block;
	}

	input[type=submit] {
	  background:	rgb(67,119,159);
	  background:	linear-gradient(rgb(67,119,159), rgb(76,135,180), rgb(67,119,159));
	  color: white;
	  padding: 6px 8px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  float: right;
	  width: 100%;
	  box-shadow: 3px 3px 6px #888888;
	  margin:5px 0px 5px 0px;
	}

	input:hover[type=submit] {
	  background:	linear-gradient(rgb(30, 65, 95), rgb(47, 93, 131), rgb(30, 65, 95));
	  color: white;
	  padding: 6px 8px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  float: right;
	}
	*/
}
