/* SET OUR REAPONSIVE STUFF HERE */
/* If the screen size is 501px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 500px) and (max-height: 399px) {
  .tagline {
    font-size: 1.5em;
  }
  
  .dropdown-content {
		display: 			none;
		position: 			absolute;
		background-color: #000000;
		border: 2px solid #000000;
		border-bottom: 6px solid #777777;
		left: 99%;
		transform: translateX(-99%);
		width: 				300px;
		z-index: 			1;
		height: 180px;
		overflow-y: hidden;
		overflow-x: hidden;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	
	.input_txt {
		width: 400px;
	}
	
	.dropdown-list {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 128px;
		z-index: 			1;
	}
	
	.dropdown-list a{
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: 			1;
		font-size: .9em;
	}
}
